@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');


* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row {
    padding: 0 auto;
    margin: 0 auto;
}

.logo {
    width: 400px;
}

.naveg {
    padding-top: 15px;
}

.link {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.border-sides {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.link:hover {
    color: yellow;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    transition: all 0.2s;
}

header {
    color: white;
    min-height: 50vh;
    background-image: url(../img/BasílicaAP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.foto {
    border: 1px transparent;
    border-radius: 5px;
    width: 100%;
    min-height: 10vh;
}

video {
    width: 600px;
}

.vd {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg-azul-degradê2.png);
    background-position: bottom;
}

footer {
    color: white;
    font-size: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.foot-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-produtos {
    font-size: 20px !important;
    font-family: 'Kanit', sans-serif !important;
    font-weight: 400 !important;
    color: #212d9a;
}

#botao-topo {
    color: #212d9a;
    position: fixed;
    right: 20px;
    bottom: 10px;
    font-size: 40px;
    /* box-shadow: 3px 3px 10px black; */
    margin: none;
    padding: none;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 35px;
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/* WHATSAPP INÍCIO*/
#wpp {
    position: fixed;
    bottom: 20px;
    margin: 0 20px;
    /* background: rgb(77, 231, 108); */
    width: 230px;
    border-radius: 50px;
    cursor: pointer;
}

#wpp img {
    width: 40px;
    height: 40px;
}

.flutuar {
    animation-name: flutuar;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes flutuar {
    from {
        transform: translate3d(0, 0, 0);
        filter: brightness(100%);
    }

    to {
        transform: translate3d(0, -15px, 0);
        filter: brightness(85%);
    }
}
/* WHATSAPP FIM */

@media(max-width: 767px) {

    header {
        width: 100vh;
    }

    body {
        width: 100vh;
    }

    footer {
        width: 100vh;
        height: 100vh;
    }

    .logo {
        width: 300px;
    }
    
    .div-logo {
        text-align: center;
    }

    header {
        color: white;
        min-height: 50vh;
        background-image: url(../img/BasílicaAP.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
    }

    body {
        background-color: rgb(224, 134, 134);
    }

    .img-main {
        display: none;
        /* visibility: hidden; */
    }

    .vd-p {
        width: 100%;
    }

    /* Essa parte tem que corrigir */
    .col-lg,
    .col-md {
        display: none;
    }

    footer {
        flex-direction: column;
        gap: 90px;
    }

}